/* color palette */

:root {
	--sc_prose_background-color: #f2dccf;
	--sc_prose_border-color: #bb9d99;
}

body {
	background-color: #f9eae1;
	color: #56393a;
}

a {
	color: #9f635e;
}

@media (prefers-color-scheme: dark) {
	:root {
		--sc_prose_background-color: #3b322f;
		--sc_prose_border-color: #695b56;
	}

	body {
		background-color: #2d2826;
		color: #f9eae1;
	}

	a {
		color: #cba28e;
	}

	/* mobile devices: make background darker for oled screens */
	@media (max-width: 32rem) {
		:root {
			--sc_prose_background-color: rgb(18, 17, 17);
			--sc_prose_border-color: #47413f;
		}

		body {
			background-color: rgb(0, 0, 0);
		}
	}
}

/* fonts */

:root {
	--sc_typography_font_sans-serif:
		Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans", source-sans-pro,
		sans-serif;
	--sc_typography_font_serif:
		Superclarendon, "Bookman Old Style", "URW Bookman", "URW Bookman L",
		"Georgia Pro", Georgia, serif;
	--sc_typography_font_mono: "Nimbus Mono PS", "Courier New", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--sc_typography_font_serif);
}

header h1 {
	font-family:
		"Segoe Print", "Bradley Hand", Chilanka, TSCu_Comic, casual, cursive;
}

/* other */

article {
	margin-block: 1rem;
	padding-inline: 1rem;
	background-color: var(--sc_prose_background-color);
	border: 1px solid var(--sc_prose_border-color);
	border-radius: var(--sc_prose_border-radius);
}

.floating-image {
	float: right;
	margin-inline-start: 1rem;
	margin-block: 1rem;
	height: 8rem;
}

pre {
	/* shiki changes the background color, so i have to add this to separate the code from the rest of the text */
	border: 1px solid var(--sc_prose_border-color);
}

@media (prefers-color-scheme: dark) {
	.astro-code,
	.astro-code span {
		color: var(--shiki-dark) !important;
		background-color: var(--shiki-dark-bg) !important;
	}
}
