h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--sc_typography_font_serif);
}

article {
	margin-block: 1rem;
	padding-inline: 1rem;
	background-color: var(--sc_prose_background-color);
	border: 1px solid var(--sc_prose_border-color);
	border-radius: var(--sc_prose_border-radius);
}

.floating-image {
	float: right;
	margin-inline-start: 1rem;
	margin-block: 1rem;
	height: 128px;
}

pre {
	/* shiki changes the background color, so i have to add this to separate the code from the rest of the text */
	border: 1px solid var(--sc_prose_border-color);
}

@media (prefers-color-scheme: dark) {
	.astro-code,
	.astro-code span {
		color: var(--shiki-dark) !important;
		background-color: var(--shiki-dark-bg) !important;
	}
}
