/* catppuccin latte */
:root {
	--bg: #eff1f5; /* base */
	--text: #4c4f69; /* text */
	--accent: #fe640b; /* peach */
	--sc-prose-bg: #e6e9ef; /* mantle */
	--sc-prose-bd: #dce0e8; /* surface 0 */
}

/* catppuccin mocha */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: #1e1e2e; /* base */
		--text: #cdd6f4; /* text */
		--accent: #fab387; /* peach */
		--sc-prose-bg: #181825; /* mantle */
		--sc-prose-bd: #313244; /* surface 0 */
	}
}

body {
	background-color: var(--bg);
	color: var(--text);
}

a {
	color: var(--accent);
	text-decoration: none;
}

a:hover {
	color: var(--accent);
	text-decoration: underline;
}

hr {
	border-color: var(--sc-prose-bd);
	border-style: solid;
}
