---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="page unavailable"
	description="erm.. 404! not found! oops. whoopsie! my bad. error! uh oh!"
>
	<h1>page unavailable</h1>

	<p>
		a page wasn't found at this address. it may have been moved, removed, or
		just never existed in the first place. would you like to go back <a href="/"
			>home</a
		>?
	</p>

	<img src="https://http.cat/404" alt="404 meme picture, with a cat" />
</Layout>
