---
import Layout from "../layouts/Layout.astro";
---

<Layout title="page unavailable" description="erm.. 404! not found!">
	<h1>page unavailable</h1>

	<p>
		the page wasn't found at this address. would you like to go back <a href="/"
			>home</a
		>?
	</p>

	<img src="https://http.cat/404" alt="404 error cat" />
</Layout>
