---
import Layout from "../layouts/Layout.astro";
---

<Layout title="home" description="hi, i'm devin! :)">
	<img
		src="https://avatars.githubusercontent.com/u/42325132?s=256"
		alt="my current profile picture on github"
		class="floating-image"
	/>

	<h1>home</h1>

	<p>
		hey, my name is devin (i'm also known as "intergrav" in some spaces). i
		enjoy <strong>music</strong>, <strong>UI/UX design</strong>, <strong
			>programming</strong
		>, <strong>sysadmin stuff</strong>, and a bunch of other things!!!! :) i
		don't have very much else to say about myself, but here are a couple
		projects that i've created or work on:
	</p>

	<ul>
		<li>
			i made <a href="https://devcss.devins.page">dev.css</a> and <a
				href="https://slightcss.devins.page">slight.css</a
			>, two stylesheets for easily making simple, nice looking websites. this
			site uses slight.css.
		</li>
		<li>
			i made <a href="https://github.com/intergrav/devins-badges"
				>Devin's Badges</a
			>, a library of nicely designed badges for your projects. this project is
			on hiatus, i'm not sure when or if i'll work on it again.
		</li>
		<li>
			i have made and maintained <a
				href="https://modrinth.com/modpack/adrenaline">Adrenaline</a
			> and <a href="https://modrinth.com/modpack/additive">Additive</a> for the past
			3-4 years, two Minecraft modpacks that have become relatively popular in the
			modding community.
		</li>
		<li>
			i was the leader of designing and writing the new <a
				href="https://prismlauncher.org">Prism Launcher website</a
			>, a project that took several weeks, focusing on cleanliness,
			consistency, and usability.
		</li>
		<li>
			i've helped contribute to <a href="https://modrinth.com">Modrinth</a> a couple
			times, a website for sharing Minecraft mods. I made that little <a
				href="https://cdn.modrinth.com/servers/excitement.webp">robot mascot</a
			>
			that they use sometimes, contributed some ideas, helped <a
				href="https://support.modrinth.com/en/articles/9298760-third-party-packages"
				>bring</a
			>
			<a href="https://github.com/modrinth/code/issues/497">attention</a> and organize
			Linux/MacOS packaging for the Modrinth App, and made some images for their
			<a href="https://modrinth.com/news">blog</a>.
		</li>
	</ul>

	<p>
		this whole website is open-source and available on <a
			href="https://github.com/intergrav/devins.page">GitHub</a
		>. you can see how i made it there.
	</p>

	<p>
		need to reach out? send me an email at <a href="mailto:devin@devins.page"
			>devin@devins.page</a
		> or message me at <a href="https://matrix.to/#/@devin_real:matrix.org"
			>@devin_real:matrix.org</a
		>. i don't really use social media anymore.
	</p>
	<p>
		<em
			>keep in mind that i am a pretty reserved person. i have limited
			availability and may not respond to everything immediately, or at all. it
			is nothing personal!</em
		>
	</p>
</Layout>
