---
import Layout from "../layouts/Layout.astro";
import Badges from "../components/Badges.astro";
---

<Layout
	title="home"
	description="hi, i'm devin! :)"
>
	<img
		src="https://github.com/intergrav.png?size=256"
		alt="my current profile picture on github"
		style="float: right; margin-left: 1rem; margin-block: 1rem; max-height: 128px"
	/>

	<h1>home</h1>

	<p>
		hey, my name is devin! i enjoy music, UI/UX design, programming, sysadmin
		stuff, and a bunch of other things!!!! :) i don't have very much else to say
		about myself, but here are a couple projects that i've created or work on:
	</p>

	<ul>
		<li>
			<a href="https://devcss.devins.page">dev.css</a>, a tiny, simple,
			classless CSS framework inspired by <a href="https://newcss.net"
				>new.css</a
			>.
		</li>
		<li>
			<a href="https://slightcss.devins.page">slight.css</a>, slight
			enhancements for the user agent stylesheet. (this site uses it!)
		</li>
		<li>
			<a href="https://github.com/intergrav/devins-badges">Devin's Badges</a>, a
			library of nicely designed badges for your projects (on hiatus)
		</li>
		<li>
			<a href="https://modrinth.com/modpack/adrenaline">Adrenaline</a>, a
			Minecraft modpack aiming to significantly improve performance without
			bloat.
		</li>
		<li>
			<a href="https://modrinth.com/modpack/additive">Additive</a>, a Minecraft
			modpack focusing as an OptiFine alternative thats faster and more modular.
		</li>
		<li>
			i've helped contribute to <a href="https://modrinth.com">Modrinth</a> a couple
			times, a website for sharing Minecraft mods.
		</li>
	</ul>

	<p>
		need to reach out? send me an email at <a href="mailto:devin@devins.page"
			>devin@devins.page</a
		>.
	</p>

	<Badges />
</Layout>
