---
import Layout from "../layouts/Layout.astro";
---

<Layout title="privacy" description="privacy information for devins.page">
	<h1>privacy</h1>

	<p>
		this website is deployed on <strong>Cloudflare Pages</strong>, and uses <strong
			>Cloudflare Web Analytics</strong
		> to help me understand basic traffic information. as of 2025, Cloudflare <a
			href="https://www.cloudflare.com/web-analytics">claims</a
		> that they do not use any client-side state, such as cookies or localStorage,
		to collect usage metrics, and don't fingerprint individuals via IP address, User
		Agent string, or any other data.
	</p>

	<p>
		this website also loads <strong>giscus</strong>, a commenting system based
		on GitHub Discussions. giscus claims that they do not track user data, and
		is <a href="https://github.com/giscus/giscus">open-source</a>.
	</p>

	<p>
		<em
			>i do not personally collect, store, or share any visitor data other than
			what Cloudflare and giscus provide.</em
		>
	</p>

	<a href="/">← home</a>
</Layout>
