<div style="margin-block: 1em;">
	<a href="https://devins.page">
		<img
			src="https://raw.githubusercontent.com/intergrav/branding/refs/heads/main/personal/badge.svg"
		/>
	</a>
	<a href="https://floof.gay">
		<img src="https://floof.gay/img/badges/oli.svg" />
	</a>
	<a href="https://skye.vg">
		<img src="https://skye.vg/button.png" />
	</a>
	<a href="https://freeplay.floof.company">
		<img src="https://freeplay.floof.company/assets/buttons/free.gif" />
	</a>
	<img src="/badges/best_viewed_with_eyes.gif" />
</div>

<style>
	a {
		text-decoration: none;
	}
</style>
