---
const { pubDate, categories } = Astro.props;
---

<p>
	<small>
		{
			pubDate && (
				<time datetime={pubDate.toISOString()}>
					{pubDate.toLocaleDateString()}
				</time>
			)
		}
		{categories?.length && ` • ${categories.join(", ")}`}
	</small>
</p>
