<section class="giscus" style="margin-block: 1rem">
	<script>
		function Comments() {
			// the giscus stuff is a bit hacky but i have to do this so it works i have no idea why
			if (document.querySelector("iframe.giscus-frame")) return;
			const script = document.createElement("script");
			script.src = "https://giscus.app/client.js";
			script.setAttribute("data-repo", "intergrav/devins.page");
			script.setAttribute("data-repo-id", "R_kgDONW1wiA");
			script.setAttribute("data-category", "giscus");
			script.setAttribute("data-category-id", "DIC_kwDONW1wiM4Cr7lb");
			script.setAttribute("data-mapping", "pathname");
			script.setAttribute("data-strict", "1");
			script.setAttribute("data-reactions-enabled", "0");
			script.setAttribute("data-emit-metadata", "1");
			script.setAttribute("data-input-position", "bottom");
			script.setAttribute("data-theme", "https://devins.page/devin-giscus.css");
			script.setAttribute("data-lang", "en");
			script.setAttribute("data-loading", "lazy");
			script.crossOrigin = "anonymous";
			document.body.appendChild(script);
		}
		Comments();
		document.addEventListener("astro:page-load", Comments);
	</script>
</section>
