---
import { execSync } from "child_process";

const commitHash = (() => {
	try {
		return execSync("git rev-parse --short HEAD").toString().trim();
	} catch {
		return "unknown";
	}
})();
---

<hr />
<footer
	style="display: flex; justify-content: space-between; align-items: center"
>
	<nav>
		subscribe to <a href="/rss.xml">rss</a>
	</nav>
	<div style="text-align: right">
		<code
			><a href={`https://github.com/intergrav/devins.page/commit/${commitHash}`}
				>{commitHash}</a
			></code
		>, <a href="https://astro.build">astro</a> and <a
			href="https://github.com/intergrav/slight.css">slight.css</a
		>
	</div>
</footer>
