---
import { execSync } from "child_process";

const commitHash = (() => {
	try {
		return execSync("git rev-parse --short HEAD").toString().trim();
	} catch {
		return "unknown";
	}
})();
---

<footer style="text-align: center;">
	<nav>
		<p>
			social •
			<a href="mailto:devin@devins.page">email</a> •
			<a href="https://matrix.to/#/@devin_real:matrix.org">matrix</a> •
			<a href="https://github.com/intergrav">github</a> •
			<a href="https://www.last.fm/user/devin_real">last.fm</a>
		</p>
	</nav>
	<p>
		<code
			><a href={`https://github.com/intergrav/devins.page/commit/${commitHash}`}
				>{commitHash}</a
			></code
		> • <a href="/privacy">privacy</a>  • subscribe to <a href="/rss.xml">rss</a>
	</p>
</footer>
