<header style="display: flex; justify-content: space-between">
	<nav>
		<strong>devins.page:</strong>
		<a href="/">home</a>,
		<a href="/blog">blog</a>
	</nav>
	<nav style="text-align: right">
		<strong>external:</strong>
		<a href="mailto:devin@devins.page">email</a>,
		<a href="https://github.com/intergrav">github</a>,
		<a href="https://git.devins.page">forgejo</a>,
		<a href="https://www.last.fm/user/devin_real">last.fm</a>
	</nav>
</header>
<hr />
